input {
    display: block;

    width: 60%;

    padding: 1em;

    margin: auto;
    margin-bottom: 5vh;

    border: black solid 1px;
    border-radius: 10px;
    outline: none;

    font-size: 1em;
}